DIV {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	MARGIN: 0px auto; WIDTH: 950px; FONT-FAMILY: Arial Helvetica "sans-serif"; BACKGROUND: #fff; HEIGHT: 100%; COLOR: #454545; FONT-SIZE: 12px
}
A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #454545; TEXT-DECORATION: none; PADDING-TOP: 2px
}
A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #454545
}
A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
IMG A {
	BORDER-BOTTOM: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; BORDER-TOP: #dfdfdf 1px solid; BORDER-RIGHT: #dfdfdf 1px solid
}
#top {
	WIDTH: 950px; BACKGROUND: url(bg_t.gif); HEIGHT: 30px
}
.topr {
	FLOAT: right
}
.dis {
	DISPLAY: inline
}
.undis {
	DISPLAY: none
}
.link01 {
	MARGIN: 5px; PADDING-LEFT: 720px; DISPLAY: inline; FLOAT: left
}
.link01 LI {
	TEXT-ALIGN: center; LIST-STYLE-TYPE: none; WIDTH: 100px; FLOAT: left
}
.link02 {
	PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: right; PADDING-TOP: 0px
}
.link02 LI {
	TEXT-ALIGN: center; LIST-STYLE-TYPE: none; WIDTH: 110px; FLOAT: left
}
#head {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; WIDTH: 948px; HEIGHT: 83px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
#logo {
	MARGIN: 5px 20px 0px; WIDTH: 180px; DISPLAY: inline; FLOAT: left; HEIGHT: 71px
}
.line01 {
	MARGIN: 11px 5px 0px; WIDTH: 1px; DISPLAY: inline; BACKGROUND: url(line.jpg); FLOAT: left; HEIGHT: 61px
}
.link03 {
	PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px 8px; PADDING-LEFT: 0px; WIDTH: 690px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 0px
}
.link03 LI {
	TEXT-ALIGN: center; LIST-STYLE-TYPE: none; WIDTH: 5.65%; DISPLAY: inline; FONT: 12px/2.4em Arial Helvetica "sans-serif"; FLOAT: left
}
.link03 LI A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #3d6396
}
.link03 LI :hover {
	COLOR: #3d6396; FONT-WEIGHT: bold
}
#div01 {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; MARGIN: 2px 0px; HEIGHT: 90px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
#ad {
	WIDTH: 727px; FLOAT: left; HEIGHT: 90px
}
.banner {
	MARGIN: 10px 0px; WIDTH: 950px; BACKGROUND: #f5f5f5; HEIGHT: 80px
}
.banner A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
#ad2 {
	MARGIN: 8px 30px; DISPLAY: inline; FLOAT: left
}
#search {
	MARGIN-TOP: 5px; WIDTH: 370px; DISPLAY: inline; FLOAT: right; HEIGHT: 20px
}
#search2 {
	MARGIN-TOP: 5px; WIDTH: 225px; DISPLAY: inline; FLOAT: right; HEIGHT: 20px
}
#cj_sbutton {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN-TOP: 5px; WIDTH: 64px; FONT: 12px/1.3em Arial Helvetica "sans-serif"; BORDER-TOP-STYLE: none; BACKGROUND: url(cj_06.gif); HEIGHT: 20px; COLOR: #fff; MARGIN-LEFT: 0px; BORDER-LEFT-STYLE: none
}
.cj_input {
	WIDTH: 150px
}
.label {
	DISPLAY: inline; FONT: 13px/2.3em Arial Helvetica "sans-serif"; FLOAT: left; COLOR: #454545
}
.form1 {
	MARGIN: 0px; FLOAT: right
}
.form3 {
	MARGIN: 0px
}
.input {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 150px; BACKGROUND: #fff; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
#sbutton {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN-TOP: 5px; WIDTH: 53px; FONT: 12px/1.8em Arial Helvetica "sans-serif"; BORDER-TOP-STYLE: none; BACKGROUND: url(search.jpg); HEIGHT: 19px; COLOR: #000; MARGIN-LEFT: 0px; BORDER-LEFT-STYLE: none
}
.link04 {
	MARGIN: 8px 0px 0px 10px; DISPLAY: inline; FLOAT: left; COLOR: white
}
.link04 A {
	COLOR: white
}
.link04 A:hover {
	COLOR: #bc2931
}
#hot {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; WIDTH: 948px; MARGIN-BOTTOM: 10px; BACKGROUND: url(bg02.gif); HEIGHT: 24px; BORDER-TOP: #ddd 1px; BORDER-RIGHT: #ddd 1px solid
}
.kx {
	MARGIN: 4px 0px 0px 10px; DISPLAY: inline; FLOAT: left; COLOR: red; FONT-WEIGHT: bold
}
.kx A {
	COLOR: #454545; FONT-WEIGHT: normal
}
.kx A:hover {
	COLOR: #bc2931
}
.kx MARQUEE {
	WIDTH: 880px; FLOAT: left
}
.kx222 {
	MARGIN: 3px 0px 0px 15px; DISPLAY: inline; FLOAT: left; COLOR: red; FONT-WEIGHT: bold
}
.kx222 A {
	COLOR: #454545; FONT-WEIGHT: normal
}
.kx222 A:hover {
	COLOR: #bc2931
}
.kx3 {
	MARGIN: 3px 0px 0px 15px; DISPLAY: inline; FLOAT: left; COLOR: #454545; FONT-WEIGHT: bold
}
.kx3 A {
	COLOR: #454545; FONT-WEIGHT: normal
}
.kx3 A:hover {
	COLOR: #bc2931
}
.kx2 {
	MARGIN: 3px 0px 0px 70px; DISPLAY: inline; FLOAT: left; COLOR: #454545; FONT-WEIGHT: bold
}
.kx2 A {
	COLOR: #454545; FONT-WEIGHT: normal
}
.kx2 A:hover {
	COLOR: #bc2931
}
#content {
	MARGIN: 5px 0px 0px
}

#footer .link6 {
	MARGIN: 5px 0px
}
#footer_blog {
	BORDER-BOTTOM: #cacaca 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #cacaca 1px solid; WIDTH: 948px; DISPLAY: inline; FONT: 12px/1.7em Arial Helvetica "sans-serif"; FLOAT: left; COLOR: #333; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid
}
#footer_blog A {
	COLOR: #333
}
#footer_blog A:hover {
	COLOR: #bc2931
}
#footer_blog .link6 {
	MARGIN: 5px 5px
}
#copyright {
	TEXT-ALIGN: center; MARGIN: 15px 0px; WIDTH: 940px;  line-height:25px;text-indent: 1em;	PADDING-BOTTOM: 10px;
}
.copyright.siteInfo {
	MARGIN: 5px 10px
}

.clear {
	CLEAR: both
}
.rss {
	MARGIN: 7px 10px 0px 0px; FLOAT: right
}
.rss A IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
#topDiv {
	MARGIN: 0px auto; WIDTH: 950px; BACKGROUND: url(topbg.gif) repeat-x; HEIGHT: 30px
}
#dateDiv {
	TEXT-ALIGN: center; WIDTH: 150px; FLOAT: left; HEIGHT: 24px; PADDING-TOP: 6px
}
#hpointLine {
	BORDER-LEFT: #555555 1px dashed; MARGIN-TOP: 4px; WIDTH: 10px; FLOAT: left; HEIGHT: 24px; OVERFLOW: hidden
}
#icon01 {
	WIDTH: 25px; BACKGROUND: url(index_04.gif) no-repeat; FLOAT: left; HEIGHT: 30px
}
#logonDiv {
	FLOAT: left; HEIGHT: 30px
}
#makehome {
	LINE-HEIGHT: 30px; FLOAT: left; HEIGHT: 30px; VERTICAL-ALIGN: middle
}
.input08 {
	BORDER-BOTTOM: #829db2 1px solid; BORDER-LEFT: #829db2 1px solid; WIDTH: 70px; FONT-SIZE: 12px; BORDER-TOP: #829db2 1px solid; BORDER-RIGHT: #829db2 1px solid
}
.zhuce {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 40px; FONT: 12px/1.6em Arial Helvetica "sans-serif"; BORDER-TOP-STYLE: none; BACKGROUND: url(index_07.gif); HEIGHT: 18px; COLOR: #fff; BORDER-LEFT-STYLE: none; PADDING-TOP: 0px
}
.input01 {
	BORDER-BOTTOM: #829db2 1px solid; BORDER-LEFT: #829db2 1px solid; WIDTH: 70px; FONT-SIZE: 12px; BORDER-TOP: #829db2 1px solid; BORDER-RIGHT: #829db2 1px solid
}
.block {
	LINE-HEIGHT: 1px; HEIGHT: 1px; CLEAR: both; FONT-SIZE: 1px
}
.block0 {
	LINE-HEIGHT: 0px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px
}
.block2 {
	LINE-HEIGHT: 10px; HEIGHT: 10px; CLEAR: both; FONT-SIZE: 1px
}
.block_top {
	LINE-HEIGHT: 5px; HEIGHT: 5px; CLEAR: both; FONT-SIZE: 1px
}
.block5 {
	LINE-HEIGHT: 1px; HEIGHT: 5px; CLEAR: both; FONT-SIZE: 1px
}
.block6 {
	LINE-HEIGHT: 1px; HEIGHT: 6px; CLEAR: both; FONT-SIZE: 1px
}
.endPageNum_sty {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; MARGIN: auto; WIDTH: 600px; COLOR: #fff; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold
}


/*CSS sabrosus style pagination*/

DIV.sabrosus {
	PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; ZOOM: 1; FONT-FAMILY: "Microsoft YaHei","ו";  COLOR: #666; CLEAR: both; OVERFLOW: hidden; PADDING-TOP: 5px;
}
DIV.sabrosus A {
	BORDER-RIGHT: #BFE0F9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #BFE0F9 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #BFE0F9 1px solid; COLOR: #397CBE; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #BFE0F9 1px solid; TEXT-DECORATION: none;
}
DIV.sabrosus A:hover {
	BORDER-RIGHT:#397CBE 1px solid; BORDER-TOP:#397CBE 1px solid; BORDER-LEFT:#397CBE 1px solid; COLOR: #397CBE; BORDER-BOTTOM:#397CBE 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.pagination A:active {
	BORDER-RIGHT: #EE2F2F 1px solid; BORDER-TOP: #EE2F2F 1px solid; BORDER-LEFT: #EE2F2F 1px solid; COLOR: #397CBE; BORDER-BOTTOM: #EE2F2F 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.sabrosus SPAN.thisclass {
	BORDER-RIGHT: navy 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: navy 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: navy 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: navy 1px solid; BACKGROUND-COLOR: #397CBE
}
DIV.sabrosus SPAN.disabled {
	BORDER-RIGHT: #BFE0F9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #BFE0F9 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #BFE0F9 1px solid; COLOR: #397CBE; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #BFE0F9 1px solid
}
/*CSS sabrosus style pagination*/

.quote {
	BORDER-BOTTOM: #fdde63 1px solid; BORDER-LEFT: #fdde63 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 97%; PADDING-RIGHT: 8px; DISPLAY: block; FONT: 14px/1.2em Arial Helvetica "sans-serif"; MARGIN-BOTTOM: 10px; BACKGROUND: #fffff1; BORDER-TOP: #fdde63 1px solid; BORDER-RIGHT: #fdde63 1px solid; PADDING-TOP: 8px
}
.title {
	PADDING-BOTTOM: 5px; WIDTH: 100%; DISPLAY: block; FONT: 12px/1.2em Arial Helvetica "sans-serif"; COLOR: #1f3a87
}
.l000 {
	COLOR: #000; TEXT-DECORATION: none
}
A.l000:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.l000:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.l000:hover {
	TEXT-DECORATION: underline
}
#fri_link {
	BORDER-BOTTOM: #cacaca 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cacaca 1px solid; WIDTH: 948px; DISPLAY: inline; FONT: 12px/1.8em Arial Helvetica "sans-serif"; BACKGROUND: #f5f5f5; FLOAT: left; BORDER-TOP: #cacaca 1px solid; BORDER-RIGHT: #cacaca 1px solid
}
#fri_link .link1 {
	MARGIN: 5px 0px
}
#fri_link .link2 {
	MARGIN: 10px 0px
}
#fri_link .link3 {
	TEXT-ALIGN: left; MARGIN: 0px 20px 10px; DISPLAY: inline; FLOAT: left
}
#sm_footer {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; WIDTH: 950px; DISPLAY: inline; FONT: 12px/1.2em Arial Helvetica "sans-serif"; FLOAT: left
}
#sm_footer .link6 {
	MARGIN: 5px 0px
}
#ay_head {
	BORDER-BOTTOM: #cae2f8 1px solid; BORDER-LEFT: #cae2f8 1px solid; WIDTH: 948px; HEIGHT: 83px; BORDER-TOP: #cae2f8 1px solid; BORDER-RIGHT: #cae2f8 1px solid
}
.h5px {
	LINE-HEIGHT: 0px; WIDTH: 100%; BACKGROUND: white; FLOAT: left; HEIGHT: 10px; CLEAR: both; FONT-SIZE: 0px
}
#ay_copyright {
	TEXT-ALIGN: center; MARGIN: 5px 0px; WIDTH: 948px
}
.ay_copyright .siteInfo {
	MARGIN: 5px 0px
}
.ad2 {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 948px; FLOAT: left; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.w5px2 {
	WIDTH: 5px; FLOAT: left; HEIGHT: 20px
}
.form_wh {
	FLOAT: left
}
.wh_check {
	BORDER-BOTTOM: #cbe2f8 1px solid; BORDER-LEFT: #cbe2f8 1px solid; BORDER-TOP: #cbe2f8 1px solid; BORDER-RIGHT: #cbe2f8 1px solid
}
.wh_p {
	MARGIN: 0px; WIDTH: 65px; DISPLAY: inline; FLOAT: left
}
.wh_p IMG {
	MARGIN: 2px 10px 0px 0px; DISPLAY: inline; FLOAT: right
}
.wh_sty {
	MARGIN: 7px 0px 0px 5px; WIDTH: 130px; DISPLAY: inline; FLOAT: left
}
#weatherDiv {
	BORDER-BOTTOM: #cae2f8 1px solid; BORDER-LEFT: #cae2f8 1px solid; WIDTH: 218px !important; DISPLAY: inline; FLOAT: left; HEIGHT: 46px !important; BORDER-TOP: #cae2f8 1px solid; BORDER-RIGHT: #cae2f8 1px solid
}
#weatherDiv2 {
	BORDER-LEFT: #ccc 1px solid; WIDTH: 216px !important; DISPLAY: inline; FLOAT: left; HEIGHT: 46px !important
}
.zj_logo {
	MARGIN: 0px 0px 0px 0px; WIDTH: 170px; DISPLAY: inline; FLOAT: left; HEIGHT: 63px
}
#logo_sy {
	MARGIN: 0px 6px 0px 0px; WIDTH: 180px; DISPLAY: inline; BACKGROUND: url(logo.jpg); FLOAT: left; HEIGHT: 56px
}
#logo_pd {
	MARGIN: 0px 6px 0px 0px; WIDTH: 170px; DISPLAY: inline; FLOAT: left; HEIGHT: 56px
}
#logo_wz {
	TEXT-ALIGN: center; MARGIN: 3px 6px 0px 0px; WIDTH: 180px; DISPLAY: inline; FLOAT: left; LETTER-SPACING: 1px; COLOR: #999; FONT-SIZE: 12px
}
.sghotel {
	WIDTH: 99%; FLOAT: left
}
.sghotel LI {
	LINE-HEIGHT: 22px; WIDTH: 33%; FLOAT: left
}
.sghotelwhite {
	WIDTH: 99%; FLOAT: left
}
.sghotelwhite LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 33%; FLOAT: left
}
.sghotelwhite A {
	COLOR: #fff
}
.sghotelwhite A:link {
	COLOR: #fff
}
.sghotelwhite A:visited {
	COLOR: #fff
}
.ny_gg_ads {
	BORDER-BOTTOM: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 558px; PADDING-RIGHT: 10px; BORDER-TOP: #dfdfdf 1px solid; BORDER-RIGHT: #dfdfdf 1px solid; PADDING-TOP: 10px
}
.ny_gg_nr_top {
	MARGIN: 20px 0px 0px 20px; WIDTH: 480px; DISPLAY: inline; FLOAT: left
}
.nr_div {
	BORDER-BOTTOM: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; MARGIN: 0px auto; WIDTH: 578px; BORDER-TOP: #dfdfdf 1px solid; BORDER-RIGHT: #dfdfdf 1px solid
}
.nr_list {
	MARGIN: 0px auto; WIDTH: 585px; 
}
.nr_div_title {
	PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #eee; PADDING-LEFT: 10px; WIDTH: 558px; PADDING-RIGHT: 10px; PADDING-TOP: 5px
}
.nr_div_title B {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
#footer {
	TEXT-ALIGN: center; MARGIN: 10px auto 0px; WIDTH: 950px; CLEAR: both; BORDER-TOP:#DFDFDF 1px solid; PADDING-TOP: 5px
}
#footer .links {
	HEIGHT: 22px; COLOR: #ccc; PADDING-TOP: 4px
}
#footer .links A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "Microsoft YaHei","Microsoft JhengHei"; PADDING-TOP: 0px
}
#footer .copyright {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #666; PADDING-TOP: 2px
}
#footer .complain_phone {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #f00; PADDING-TOP: 0px
}